
@font-face {
  font-family: "Coelcanth Caption Bold";
  src: url("coelacanth-caption-bold.woff") format('woff');
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsla(0, 0%, 15%, 1);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 350px;
  min-height: 500px;

  padding: 100px 60px;

  border: 1px solid black;
  border-radius: 20px;

  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 500px) {
  #container {
    max-width: 500px;
  }
}

@media (min-width: 600px) {
  #container {
    max-width: 600px;
  }
}

@media (min-width: 700px) {
  #container {
    max-width: 700px;
  }
}

@media (min-width: 800px) {
  #container {
    max-width: 800px;
  }
}

#quote-container {
  display: flex;
  flex-direction: column;

  font-family: "Coelcanth Caption Bold";
  text-shadow: 1px 1px 1px black;
}

#quote {
  color: hsla(0, 0%, 90%, 1);
  font-size: 34px;
}

#author {
  align-self: flex-end;

  padding-top: 20px;

  color: hsla(0, 0%, 90%, 1);
  font-size: 26px;
}

#info {
  align-self: flex-end;

  padding-top: 20px;
  
  font-family: sans-serif;
  color: hsla(0, 0%, 90%, 1);
  font-size: 12px;
}